- if resource.nil?
- else
  .row{ id: dom_id(resource), class: dom_class(resource) }
    - resource.picture_details.each do |picture_detail|
      .col-md-6.col-lg-3.d-flex.align-items-stretch.mb-4
        = bootstrap_card(image_options: { src: main_app.url_for(picture_detail.asset.variant(variant_options))}, additional_css_classes: 'text-center border-0 w-100' ) do
          - if show_details
            .card-body
              %h5.card-title
                = picture_detail.title
              %p.card-text
                = picture_detail.description

